<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ethik und Recht in der Informatik</key>
	<array/>
	<key>Vertiefende Themen der Medieninformatik für Bachelor II</key>
	<array/>
	<key>Vertiefende Themen der Medieninformatik für Bachelor I</key>
	<array/>
	<key>Soziale und persönliche Kompetenz</key>
	<array/>
	<key>Seminar zu ausgewählten Themen der Informatik</key>
	<array>
		<dict>
			<key>lecture</key>
			<string>Proseminar Medieninformatik</string>
			<key>passed</key>
			<false/>
			<key>grade</key>
			<string></string>
			<key>ects</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>lecture</key>
			<string>Seminar &quot;Typbasierte Programmanalyse&quot;</string>
			<key>passed</key>
			<false/>
			<key>grade</key>
			<string></string>
			<key>ects</key>
			<integer>6</integer>
		</dict>
	</array>
</dict>
</plist>
